@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
html {
  font: 100%/1.5em 'Raleway', sans-serif; }

html,
body,
div,
main,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: left; }

.rwd-line {
  display: block; }

@media only screen and (min-width: 767px) {
  body {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.7em; }

  header.band {
    background-image: url(../img/background.jpg);
    background-size: 100%; }

  header.band h1 {
    font-size: 3.25em;
    /*52 / 16*/ }

  a.button {
    padding: .75em 1.5em; } }
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

body {
  line-height: 1; }

ol,
ul {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

input,
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0; }

button,
input[type="button"] {
  background: 0; }

:required {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

em,
i {
  font-style: italic; }

strong,
b {
  font-weight: bold; }

u {
  text-decoration: underline; }

a {
  cursor: pointer; }

input[type="submit"],
input[type="button"] {
  cursor: pointer; }

button,
label[for] {
  cursor: pointer; }

img {
  -ms-interpolation-mode: bicubic; }

.contents:before,
.contents:after {
  content: " ";
  display: table; }

.contents:after {
  clear: both; }

.contents {
  *zoom: 1; }

html {
  font-size: 10px; }

body {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  background-color: #0088ba; }

main {
  font-size: 1.9rem;
  line-height: 1.39em;
  background-color: #fff;
  margin-bottom: 41.5rem;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 975px) {
  main {
    margin-bottom: 37.1rem; } }
@media screen and (max-width: 800px) {
  main {
    margin-bottom: 32.1rem; } }
@media screen and (max-width: 640px) {
  main {
    margin-bottom: 37.5rem; }

  .rwd-line {
    display: inline; } }
.inner {
  width: 100%;
  max-width: 148rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto; }

@media screen and (max-width: 620px) {
  .inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }
img {
  display: block;
  width: 100%;
  height: auto; }

a {
  color: #333;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  -webkit-transition: color 200ms;
  transition: color 200ms; }

a:hover,
a:focus,
a:active {
  color: #0088ba; }

.column {
  float: left;
  width: 33%; }

.column h2 {
  color: #0088ba;
  margin-bottom: 0.6em; }

footer .column h2 {
  color: #fff; }

footer .column li {
  font-weight: 500; }

@media screen and (max-width: 840px) {
  .column h2 {
    margin-bottom: 0; } }
.column a {
  color: #333; }

.column a:hover,
.column a:focus,
.column a:active {
  color: #0088ba; }

footer .column a {
  color: #fff; }

footer .column a:hover,
footer .column a:focus,
footer .column a:active {
  text-decoration: underline;
  color: #99cfe3; }

@media screen and (max-width: 840px) {
  div.column {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-bottom: 3rem; }

  footer div.column {
    line-height: 1.7; } }
@media screen and (max-width: 640px) {
  div.column {
    width: 100%; }

  .rwd-line {
    display: inline; } }
@media screen and (max-width: 900px) {
  article.column {
    width: 50%; } }
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff; }

header div {
  padding: 7.5rem 0;
  -moz-transition: padding 200ms;
  -o-transition: padding 200ms;
  -webkit-transition: padding 200ms;
  transition: padding 200ms; }

header div.js-nav {
  padding: 3.5rem 4rem; }

@media screen and (max-width: 620px) {
  header div.js-nav {
    padding: 7.5rem 1.5rem; } }
@media screen and (max-width: 840px) {
  header {
    position: absolute; } }
.logo {
  display: block;
  max-width: 23.2rem;
  height: auto;
  float: left; }

@media screen and (max-width: 620px) {
  .logo {
    overflow: hidden;
    width: 12.8rem; }

  .logo img {
    width: auto; } }
nav {
  float: right; }

nav li {
  display: inline-block;
  line-height: 4.2rem;
  color: #0088ba; }

nav li:after {
  content: " — "; }

nav li:last-child:after {
  content: none; }

nav li.current-menu-item a {
  color: #00516f; }

.intro {
  font-size: 6rem;
  background-color: #fff;
  line-height: 1.2em;
  padding: 30rem 0 12.5rem;
  font-weight: 600;
  color: #333; }

@media screen and (max-width: 1310px) {
  .intro {
    font-size: 4.5rem;
    padding: 23.5rem 0 10.5rem; } }
@media screen and (max-width: 1000px) {
  .intro {
    font-size: 3.8rem;
    padding: 22.5rem 0 9.5rem; } }
@media screen and (max-width: 840px) {
  .intro {
    font-size: 3.5rem;
    padding: 19.2rem 0 9rem; } }
@media screen and (max-width: 800px) {
  .intro {
    font-size: 3rem; } }
@media screen and (max-width: 620px) {
  .intro {
    font-size: 2.5rem; } }
.info {
  padding-bottom: 14rem;
  background-color: #fff;
  font-size: 2rem; }

section.info.contents li {
  line-height: 1.4; }

@media screen and (max-width: 975px) {
  .info {
    padding-bottom: 12.5rem; } }
@media screen and (max-height: 730px) {
  .info {
    padding-bottom: 12.5rem; } }
@media screen and (max-width: 840px) {
  .info {
    padding-bottom: 7rem; } }
@media screen and (max-width: 520px) {
  .rwd-line {
    display: inline; }

  .portfolio-list {
    padding: 30rem 0 0; } }
@media screen and (max-width: 975px) {
  .portfolio-list {
    padding: 27.5rem 0 0; } }
.js-hover {
  opacity: 0.2; }

@media screen and (max-width: 620px) {
  .js-hover {
    opacity: 1; }

  .js-hover-active {
    opacity: 1; }

  .js-hover-active .wrap {
    opacity: 1; } }
footer {
  font-size: 1.8rem;
  line-height: 1.5em;
  color: #fff;
  padding: 16rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

@media screen and (max-width: 975px) {
  footer {
    padding: 16rem 0; } }
@media screen and (max-width: 800px) {
  footer {
    padding: 15rem 0; } }
@media screen and (max-width: 640px) {
  footer {
    padding: 12rem 0 5rem; } }
footer p {
  display: inline-block; }

footer p:first-child {
  margin-bottom: 4rem;
  display: block; }

footer p:first-child + p {
  width: 25%; }

@media screen and (max-width: 840px) {
  footer p:first-child + p {
    width: 33%; } }
@media screen and (max-width: 640px) {
  footer p:first-child + p {
    width: 100%;
    display: inline-block; } }
footer a {
  color: #fff; }
